/*SLY*/
/* Example wrapper */
.wrap {
	position: relative;
	margin: 3em 0;
}

/* Frame */
.frame {
	height: 250px;
	/*line-height: 250px;*/
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}
.frame ul li {
	float: left;
	width: 227px;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	background: #333;*/
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
	color: #fff;
	background: #a03232;*/
}

/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #fff;
	line-height: 0;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #aaa;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}

/* Controls */
.controls { margin: 15px 0; text-align: center; }

/* SLY - comentariosJack */
.comentariosJack {
	margin-top: 20px;
}
.comentariosJack .frame { height: 110px; /*line-height: 300px;*/ border-bottom: solid 5px #fff; }
.comentariosJack .frame ul li { width: 1140px; background: none; }
.comentariosJack .frame ul li.active { background: none; }
.comentariosJack .scrollbar {
	height: 5px;
	margin: 0;
}
.comentariosJack .frame ul {
	font-size: 24px;
}
.comentariosJack .frame ul li {
	text-align: left;
	padding-left: 450px;
}
.comentariosJack .circleLeft, .comentariosJack .circleRight {
	border-radius: 100px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 35px;
	font-size: 28px;
}
.comentariosJack .circleLeft {
	left: 20px;
}
.comentariosJack .circleRight {
	right: 20px;
}

/* SLY - popularModels */
.popularModels {
	margin-top: 20px;
}
.popularModels .frame { height: 360px; /*line-height: 150px;*/ }
.popularModels .frame ul li { width: 1140px; background: none; cursor: auto;}
.popularModels .frame ul li.active { background: none; }
.popularModels .frame ul {
	font-size: 24px;
}
.popularModels .frame ul li {
	text-align: left;
	padding-left: 20px;
}
.popularModels .circleLeft, .popularModels .circleRight {
	border-radius: 100px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	font-size: 28px;
	background: none;
	border: 2px solid #FFF;
	color: #FFF;
}
.popularModels .circleLeft:hover, .popularModels .circleRight:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.popularModels .circleLeft {
	left: 120px;
}
.popularModels .circleLeft i {
	margin-left: -2px;
}
.popularModels .circleRight {
	right: 120px;
}
.popularModels .circleRight i {
	margin-left: -2px;
}
.popularModels .unlockModels {
	height: 320px;
	display: table;
}
.popularModels .unlockModels .unlockButton {
	display: table-cell;
	vertical-align:middle;
}

/* SLY - corporate */
.corporate {
	margin-top: 20px;
}
.corporate .frame { height: 420px; /*line-height: 150px;*/ }
.corporate .frame ul li { width: 1140px; background: none; cursor: auto;}
.corporate .frame ul li.active { background: none; }
.corporate .frame ul {
	font-size: 24px;
}
.corporate .frame ul li {
	text-align: left;
	padding-left: 20px;
}
.corporate .circleLeft, .corporate .circleRight {
	border-radius: 100px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	font-size: 28px;
	background: none;
	border: 2px solid #005dbe;
	color: #005dbe;
}
.corporate .circleLeft:hover, .corporate .circleRight:hover {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.corporate .circleLeft {
	left: 30px;
}
.corporate .circleLeft i {
	margin-left: -2px;
}
.corporate .circleRight {
	right: 30px;
}
.corporate .circleRight i {
	margin-left: -2px;
}
.corporate .unlockModels {
	height: 320px;
	display: table;
}
.corporate .unlockModels .unlockButton {
	display: table-cell;
	vertical-align:middle;
}
.corporate .listaFeatures ul li {
    width: 300px;
	font-size: 12px;
}

/* SLY - whyUse */
.whyUse .frame {
	height: 320px;
}
.whyUse .frame ul {
	background: #f4f4f4; /* fondo claro */
	font-size: 14px;
}
.whyUse .frame ul li {
	padding-top: 20px;
	background: none;
}
.whyUse .frame ul li.active {
	background: none;
	color: #000;
}
.whyUse .frame ul li.interval {
	background: #e6e6e6;
}
.whyUse .frame ul li {
	width: 320px;
}
.whyUse .scrollbar {
	display: none;
}
.whyUse .circleLeft, .whyUse .circleRight {
	border-radius: 100px;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	font-size: 28px;
}
.whyUse .circleLeft {
	left: 30px;
}
.whyUse .circleRight {
	right: 30px;
}
.whyUse .controls {
	margin: 0;
}

/* SLY - sliderBanner */
.sliderBanner {
	padding: 30px 0;
}
.sliderBanner .frame {
	height: 400px;
}
.sliderBanner .frame ul li {
  width: 1140px;
}
.sliderBanner ul li.active {
  background: #333;
}
.sliderBanner .pages {
    margin: -50px 0 50px 0;
    z-index: 1000;
    position: absolute;
    left: 47%;
}
.sliderBanner .pages li.active {
	background: #30f508;
}
.sliderBanner .frame ul li {
	cursor: default;
}
.sliderBanner .img {
	width: 100%;
}
.sliderBanner h3 {
	margin-top: 30px;
}
.sliderBanner .slide {
	position: relative;
}
.sliderBanner .text {
	top: 10%;
	left: 20%;
	position: absolute;
	z-index: 1000;
	right: 20%;
	font-size: 24px;
}
