@font-face {
    font-family: "Myriad Pro Black";
    src: url("../fonts/MyriadProBlack.TTF");
}

@font-face {
    font-family: "Myriad Pro Bold";
    src: url("../fonts/MyriadProBold.OTF");
}

@font-face {
    font-family: "Myriad Pro Condensed";
    src: url("../fonts/MyriadProCondensed.OTF");
}

@font-face {
    font-family: "Myriad Pro Regular";
    src: url("../fonts/MyriadProRegular.OTF");
}

@font-face {
    font-family: "OpenSans Light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSans Regular";
    src: url("../fonts/OpenSans-Regular.ttf");
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Myriad Pro Regular";
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin-bottom: 0px;
}

body>.global {
    padding: 0 0 250px 0;
}

h1 {
    font-family: "OpenSans Light";
    font-weight: 300;
}

h2 {
    font-family: "Myriad Pro Bold";
}

h3 {
    font-family: "OpenSans Regular";
}

a, .btn, span {
    font-size: 16px;
    transition: 0.3s;
}

a:hover {
    text-decoration: none;
}

.contenido {
    margin-top: 85px;
    margin-bottom: 150px;
}
.contenido h5 {
    font-weight: bold;
    color: rgb(53,94,186);
}
.contenido p {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}

.noPadding {
    padding: 0 !important;
}

.MyriadProBold {
    font-family: "Myriad Pro Bold";
}

.OpenSansRegular {
    font-family: "OpenSans Regular";
}

.textVerde {
    color: #2df60a;
}

.textAzulClaro {
    color: #01c0f4;
}

.textAzul {
    color: #005ebe;
}

.bordeBlanco {
    -webkit-text-stroke: 3px white;
    font-size: 4em;
}

.azul {
    background: #005ebe;
}

.margin5 {
    margin: 10px;
}

.textWhite {
    color: #FFF;
}

.textBlack {
    color: #000;
}

.imgCenter {
    margin: 0 auto;
}

.btn-info {
    background: #009cde;
}


/* HEADER */

.navbar {
    height: 85px;
    margin: 0;
}

.navbar-default {
    border-bottom: : 3px solid #FFF;
}

.navbar-toggle {
    background-color: #DDD;
    margin-right: 20px;
}

.navbar-brand {}

.menu {
    border-top: 1px solid #03c3f7;
    font-weight: 100;
}

.navbar-form {
    padding: 0;
    margin: 0;
    margin-left: 130px;
    margin-bottom: -1px;
}

.navbar-default .navbar-nav > li > a, .dropdown-menu > li > a {
    padding: 10px 7px;
    color: #777;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #015fbe;
}

.navbar-right {
    margin-top: 10px;
}

.logo {}

.imgLogo {
    width: 300px;
}

.login {
    position: absolute;
    right: -50px;
    top: 50px;
}

.login2 {
    display: none;
}

.cuadrado {
    color: #777;
    margin-left: 10px;
}

.cuadrado:hover {
    color: #03c3f7;
}

.circular {
    border-radius: 50px;
    border: 2px solid #03c3f7;
    color: #03c3f7;
    padding: 3px;
}

.circular2 {
    background: #03c3f7;
    color: #FFF;
}

.icon {
    padding-bottom: -10px;
}

.search {
    border-radius: 50px;
    border-color: #03c3f7;
}

.redesFlotantes {
    text-align: center;
}

.redesFlotantes a span {
    font-size: 28px;
    margin: 5px;
}

.redesFlotantes .icon-facebook2 {
    color: #0e57d0;
}

.redesFlotantes .icon-twitter {
    color: #0daeea;
}

.redesFlotantes .icon-google-plus {
    color: #e10000;
}

.redesFlotantes .icon-facebook2:hover {
    color: #0c4ab0;
}

.redesFlotantes .icon-twitter:hover {
    color: #0c8fc1;
}

.redesFlotantes .icon-google-plus:hover {
    color: #be0909;
}


/* Sect 1 */

.sect1 {
    background: url("../img/sect1.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.sect1 .row {
    padding: 60px 60px 120px 60px;
}

.phone {
    position: absolute;
    background: url("../img/phone.png") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 420px;
}

.formPhone {
    width: 170px;
    margin: 0 auto;
    margin-top: 90px;
    margin-left: 175px;
    height: 450px;
}

.getStarted {
    font-size: 24px;
    color: #FFF;
}

.selectPhone {
    border-radius: 100px;
    border-color: #03c3f7;
    font-size: 12px;
}

.selectPhoneLeft {
    border-radius: 100px 0 0 100px;
    border-color: #03c3f7;
}

.form {
    width:
}

.unlockBtn {
    width: 100%;
}

.nums {
    margin: 0 auto;
    margin-bottom: 10px;
}

.videoIntro {
    padding: 0;
    border: 0;
}

.videoIntro:hover {
    background: #00c2f6;
}

.google {
    margin: 0 auto;
}

.steps {
    background: url("../img/steps.png") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #333;
    padding: 120px;
    margin-top: -130px;
}


/* sect 2 - 3 - 4 (Estilos Comunes) */

.sect2 {}

.populares {
    margin-top: 50px;
}

.popularTittleLeft {
    border-right: 2px solid #6c6c6c;
}

.popularTittleRIght {
    border-left: 2px solid #6c6c6c;
}

.popularTittle h2 {
    cursor: pointer;
    margin: 0;
    color: #6c6c6c;
    font-size: 38px;
    padding: 0 10px;
}

.popularTittle h2:hover {
    color: #005dbe;
}

.popularTittle h2.carries {
    float: right;
    border-left: 4px solid #6c6c6c;
}

.popularTittle h2.brands {
    float: left;
    border-right: 4px solid #6c6c6c;
}

.activePopular {
    color: #005dbe !important;
}

#ContentCarries {
    display: block;
}

#ContentBrands {
    display: none;
}


/* VideoTour - Features */

.tittlesVideo {
    margin-bottom: 30px;
}

.videoTittle h2 {
    cursor: pointer;
    width: 300px;
    margin: 0 10px;
    color: #6c6c6c;
    font-size: 38px;
    border: 2px solid #FFF;
    color: #FFF;
    padding: 10px;
    font-family: OpenSans Light;
}

.videoTittle h2:hover {
    background: #FFF;
    color: #005dbe;
}

.videoTittle h2.features {
    float: right;
}

.videoTittle h2.videoTour {
    float: left;
}

.activeVideo {
    background: #FFF;
    color: #005dbe !important;
}

.video-responsive {
    position: relative;
    padding-bottom: 56.25%;
    /* 16/9 ratio */
    padding-top: 30px;
    /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ContentFeatures {
    display: block;
}

#ContentVideo {
    display: none;
}

.sectionsContent {
    padding: 20px;
}

.unlockBox {
    padding: 10px;
    background: #FFF;
    border: 2px solid #005dbe;
    margin: 10px;
}

.unlockBox img {
    margin-bottom: 20px;
    margin: 0 auto;
}

.unlockBox a {
    margin-top: 10px;
}

.publicidad {
    width: 300px;
    margin-bottom: 10px;
}


/*model*/

.models {
    background: url("../img/models.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    width: 100%;
    color: #FFF;
    padding: 80px 0;
}

.unlockModels h1 {
    margin-bottom: 50px;
    font-size: 40px;
    text-transform: uppercase;
}

.unlockBtn2 {
    font-size: 24px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.unlockBtn2:hover {
    color: #08294a;
}

.unlockBtn2 span {
    font-size: 24px;
}


/* sect 3 */

.sect3 {
    background: url("../img/sect3.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 90px;
}

.sect3 img {
    width: 120px;
    margin-top: 15px;
}

.sect3 h3 {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a0a0a0;
}

#whyUse span {
    font-size: 36px;
}


/*video*/

.video {
    background: url("../img/video.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #FFF;
    padding: 120px;
}


/* CORPORATE */

.corporateSect {
    background: #FFF;
    height: 100%;
    width: 100%;
    color: #333;
    padding: 30px 0;
}

.corporateSect .unlockModels h1 {
    color: #005dbe;
    margin-bottom: 0px;
    font-size: 40px;
    text-transform: uppercase;
}

.corporateSect .unlockModels h3 {
    color: #333;
    font-size: 16px;
    width: 300px;
    margin: 10px 0;
}

.corporateSect .unlockBtn2 {
    border: 0;
    background: #00c2f6;
    color: #FFF;
    font-size: 24px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.corporateSect .unlockBtn2:hover {
    background: #04a6d1;
}

.corporateSect .unlockBtn2 span {
    font-size: 24px;
    color: #FFF;
}



/* sect 4 - SLIDER */

.whatWeDo {
    background: url("../img/sect4.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #FFF;
    padding: 150px;
    color: #333;
}

.whatWeDo p {
    font-size: 24px;
}


/* sect 6 - Payments */

.sect6 {
    padding: 100px 0;
    margin-bottom: 300px;
}


/* contactBox */

.registerBox {
    background: url("../img/sect3.jpg") no-repeat top center;
    padding: 20px;
    width: 100%;
    height: auto;
    background-size: cover;
}

.registerBox form {
    background: rgba(170, 170, 170, 0.24);
    padding: 50px;
    border-radius: 4px;
}


/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
}

footer h5 {
    font-weight: bold;
}

footer a {
    color: #FFF;
    font-size: 14px;
}

footer a span {
    margin-right: 5px;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.links {
    background: url("../img/footer.jpg") no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 250px;
    width: 100%;
    color: #FFF;
    padding: 90px;
    color: #333;
}

.links h5, .links p {
    color: #FFF;
}

.links button.btn {
    background: none;
    border: 2px solid #FFF;
    border-radius: 0;
    margin: 10px 0;
}

.links button.btn:hover {
    color: #e2e2e2;
    border: 2px solid #00c2f7;
}

.links li a:hover {
    color: #cfcfcf;
}

.copyright {
    background: #005dbe;
    padding: 10px 0;
}
.copyright a:hover{
    color: #cfcfcf;
}

.copyright ul li {
    float: left;
}

footer .social {
    margin: 0 10px;
}

footer .social:hover {
    color: #cfcfcf
}


/* RESPONSIVE *****************************************/


/* Menores que 767px */

@media screen and (max-width: 767px) {
    .redesFlotantes {
        display: none;
    }
    .imgLogo {
        width: 200px;
        margin-top: -10px;
        margin-left: -20px;
    }
    .contenido {
        margin-top: 50px;
    }
    .phone {
        position: relative;
        margin: 0 auto;
        margin-top: 270px;
    }
    .formPhone {
        padding-top: 70px;
        height: 500px;
    }
    .sect1 .row {
        padding: 0;
    }
    .sect1 h1 {
        font-size: 24px;
    }
    .sect2 {
        padding: 0;
    }
    .sect2 h2 {
        font-size: 2em;
    }
    .steps {
        padding: 50px 0;
    }
    .steps h3 {
        font-size: 14px;
    }
    .video {
        padding: 50px 0;
    }
    .videoTittle h2 {
        width: auto;
        margin: 0 auto;
    }
    .videoTittle h2.features {
        float: none;
    }
    .videoTittle h2.videoTour {
        float: none;
    }
    .pestana {
        padding: 10px 30px;
        font-size: 20px;
    }
    .menu {
        margin: 0;
        padding: 0;
    }
    .navbar {
        height: 0;
    }
    .navbar-brand {
        padding: 20px 30px;
    }
    .navbar-form {
        margin-left: 70px;
        margin-bottom: 5px;
    }
    .navbar-right {
        margin: 0;
    }
    .login {
        display: none;
    }
    .login2 {
        display: block;
        position: absolute;
        left: 0px;
        top: 10px;
    }
    .registerBox {
        margin-bottom: 30px;
        padding: 0px;
    }
    .registerBox form {
        padding: 10px;
    }
    .has-feedback {
        margin-top: 2px;
    }
    .navbar-default .navbar-collapse {
        background: #FFF;
    }
    .comentariosJack .frame ul {
        font-size: 12px;
    }
    .comentariosJack .frame ul li {
        padding-left: 510px;
        padding-top: 20px;
    }
    .comentariosJack .circleLeft, .comentariosJack .circleRight {
        border-radius: 100px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40px;
        font-size: 20px;
        padding: 1px;
    }
    .popularModels img {
        width: 100px;
    }
    .popularModels .circleLeft, .popularModels .circleRight {
        width: 30px;
        height: 30px;
        top: 20%;
        font-size: 16px;
    }
    .popularModels .btn {
        padding: 3px;
    }
    .popularModels .circleLeft {
        left: 10px;
    }
    .popularModels .circleRight {
        right: 10px;
    }
    .popularModels .unlockModels .unlockButton {
        display: table-cell;
        vertical-align: inherit;
    }
    .unlockModels h1 {
        margin-bottom: 10px;
        font-size: 20px;
        text-transform: uppercase;
    }
    .unlockBtn2 {
        font-size: 14px;
    }
    .unlockBtn2 span {
        font-size: 14px;
    }
    .sect3 {
        padding: 0;
    }
    .corporateSect {
        padding: 30px 0;
    }
    .corporateSect img {
        width: 100px;
    }
    .corporateSect .circleLeft, .corporateSect .circleRight {
        width: 30px;
        height: 30px;
        top: 20%;
        font-size: 16px;
    }
    .corporateSect .btn {
        padding: 3px;
    }
    .corporateSect .circleLeft {
        left: 10px;
    }
    .corporateSect .circleRight {
        right: 10px;
    }
    .corporateSect .unlockModels .unlockButton {
        display: table-cell;
        vertical-align: inherit;
        text-align: center;
    }
    .corporateSect .unlockModels h1 {
        margin-bottom: 10px;
        font-size: 20px;
        text-transform: uppercase;
    }
    .corporateSect .unlockModels h3 {
        font-size: 12px;
        width: 250px;
        text-align: left;
        margin: 10px auto;
    }
    .corporateSect .unlockBtn2 {
        font-size: 14px;
    }
    .corporateSect .unlockBtn2 span {
        font-size: 12px;
    }
    .corporateSect .corporateImg {
        float: center;
    }
    .whyUse .circleLeft, .whyUse .circleRight {
        border-radius: 100px;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40%;
        font-size: 20px;
        padding: 1px;
    }
    .sliderBanner .text {
        top: 10%;
        left: 38%;
        position: absolute;
        z-index: 1000;
        right: 38%;
    }
    .sliderBanner .pages {
        margin: -50px 0 50px 0;
        z-index: 1000;
        position: absolute;
        left: 40%;
    }
    .features img {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .whatWeDo {
        padding: 120px 10px;
    }
    .sect6 {
        padding: 10px 0;
        margin-bottom: 420px;
    }
    body>.global {
        padding: 0 0 550px 0;
    }
    .sliderBanner .text {
        top: 5%;
        left: 38%;
        position: absolute;
        z-index: 1000;
        right: 38%;
        font-size: 16px;
    }
    .links {
        padding: 20px 0;
        height: 320px;
    }
    footer li a {
        font-size: 12px;
    }
    .bordeBlanco {
        font-size: 3em;
    }
}


/* Entre que 767px */

@media screen and (min-width: 320px) and (max-width: 460px) {
    .phone {
        margin-left: -120px;
    }
}


/* Entre 768px y 991px */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .sect6 {
        padding: 10px 0;
        margin-bottom: 380px;
    }
    .links {
        padding: 50px 0;
        height: 220px;
    }
    .corporateSect .unlockModels h3 {
        font-size: 12px;
        width: 250px;
        text-align: left;
        margin: 10px 0;
    }
    .corporateSect .unlockBtn2 {
        font-size: 14px;
    }
    .corporateSect .unlockBtn2 span {
        font-size: 12px;
    }
    .corporateSect .corporateImg {
        float: right;
    }
    .sect1 .row {
        padding: 60px 0px 120px 0px;
    }
    .container {
        width: auto;
    }
    .phone {
        margin-left: -60px;
    }
    .navbar-form {
        margin-top: 70px;
    }
    .login {
        right: 220px;
        top: 15px;
    }
    .navbar-nav {
        width: 450px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 10px 5px;
    }
    .navbar-right {
        margin-top: -60px;
    }
    body>.global {
        padding: 0 0 350px 0;
    }
}


/* Entre 768px y 1024px - PANORAMICA (Horizontal) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    body>.global {
        padding: 0 0 350px 0;
    }
    .sect6 {
        padding: 30px 0;
    }
}


/* Mayor a 992px */

@media screen and (min-width: 992px) {}
